@import "../../../../../theme/styles/vars.scss";

.MuiDialog-root {
  backdrop-filter: blur(10px);
}
.newRoom {
  .menuBlock {
    > div {
      border-radius: 5px;
      cursor: pointer;
    }

    .regular._selected {
      background-color: $rouletteСolor;
    }
    .quick._selected {
      background-color: $quickСolor;
    }
    .shuffle._selected {
      background-color: $shuffleСolor;
    }
    .retro._selected {
      background-color: $retroСolor;
    }
    .roulette._selected {
      background-color: $rouletteСolor;
    }
  }

  ._selected {
    > * {
      color: #fff !important;
    }
  }
  .roomParams {
    min-width: 300px;
    overflow: hidden;
  }

  .roomContent {
    // min-height: 490px;
  }

  .playersNumber {
    button {
      color: white;
      font-weight: 700;
    }
  }
}
/** findGames **/
.findGame {
  .newRoomOneParams {
    .regular {
      color: $regularСolor;
    }
    .quick {
      color: $quickСolor;
    }
    .shuffle {
      color: $shuffleСolor;
    }
    .retro {
      color: $retroСolor;
    }
    .roulette {
      color: $rouletteСolor;
    }
  }
}
