$regularСolor: #8cc152;
$quickСolor: #da4553;
$shuffleСolor: #3bafda;
$retroСolor: #000;
$rouletteСolor: #d870ad;

:export {
  regularСolor: $regularСolor;
  quickСolor: $quickСolor;
  shuffleСolor: $shuffleСolor;
  retroСolor: $retroСolor;
  rouletteСolor: $rouletteСolor;
}
