$regularСolor: #8cc152;
$quickСolor: #da4553;
$shuffleСolor: #3bafda;
$retroСolor: #000;
$rouletteСolor: #d870ad;

$itemLevel1: #3bafda;
$itemLevel2: #4b89dc;
$itemLevel3: rgb(150, 123, 220);
$itemLevel4: rgb(218, 69, 83);
$itemLevel5: rgb(234, 178, 64);

:export {
  regularСolor: $regularСolor;
  quickСolor: $quickСolor;
  shuffleСolor: $shuffleСolor;
  retroСolor: $retroСolor;
  rouletteСolor: $rouletteСolor;
}
