$red: #c64542;

body._stream .table-body-board-action._hidden,
body._stream .table-body-board-chat,
body._stream .table-body-board-chatbottom {
  background: #262c2f;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="0"] .table-body-players-card-body-avatar > div {
  border-color: $red;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="0"] .table-body-players-card-body-avatar > div {
  background: linear-gradient(45deg, #cd3747, #f26b61);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="0"]
  .table-body-players-card-body-timer._additional
  > div,
body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="0"] .table-body-players-card-body-timer._alert > div {
  color: $red;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="0"] .table-body-players-card-body-timer._additional > div,
body[mnpl-newcolors] .table-body-players-card[mnpl-order="0"] .table-body-players-card-body-timer._alert > div {
  color: #df5154;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="0"][mnpl-action_player] .table-body-players-card-body {
  background: $red;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="0"][mnpl-action_player] .table-body-players-card-body {
  background: linear-gradient(45deg, #cd3747, #f26b61);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="0"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #492c2e;
}

body[mnpl-newcolors]
  .table-body-players-card[mnpl-order="0"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #4f2f32;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="1"] .table-body-players-card-body-avatar > div {
  border-color: #44a7df;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="1"] .table-body-players-card-body-avatar > div {
  background: linear-gradient(45deg, #54c9f0, #2191e1);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="1"]
  .table-body-players-card-body-timer._additional
  > div,
body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="1"] .table-body-players-card-body-timer._alert > div {
  color: #44a7df;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="1"] .table-body-players-card-body-timer._additional > div,
body[mnpl-newcolors] .table-body-players-card[mnpl-order="1"] .table-body-players-card-body-timer._alert > div {
  color: #3aade8;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="1"][mnpl-action_player] .table-body-players-card-body {
  background: #44a7df;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="1"][mnpl-action_player] .table-body-players-card-body {
  background: linear-gradient(45deg, #54c9f0, #2191e1);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="1"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #284555;
}

body[mnpl-newcolors]
  .table-body-players-card[mnpl-order="1"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #264657;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="2"] .table-body-players-card-body-avatar > div {
  border-color: #84c546;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="2"] .table-body-players-card-body-avatar > div {
  background: linear-gradient(45deg, #66b343, #b0e372);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="2"]
  .table-body-players-card-body-timer._additional
  > div,
body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="2"] .table-body-players-card-body-timer._alert > div {
  color: #84c546;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="2"] .table-body-players-card-body-timer._additional > div,
body[mnpl-newcolors] .table-body-players-card[mnpl-order="2"] .table-body-players-card-body-timer._alert > div {
  color: #8bcb5a;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="2"][mnpl-action_player] .table-body-players-card-body {
  background: #84c546;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="2"][mnpl-action_player] .table-body-players-card-body {
  background: linear-gradient(45deg, #66b343, #b0e372);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="2"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #384c2f;
}

body[mnpl-newcolors]
  .table-body-players-card[mnpl-order="2"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #3a4e34;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="3"] .table-body-players-card-body-avatar > div {
  border-color: #a281b6;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="3"] .table-body-players-card-body-avatar > div {
  background: linear-gradient(45deg, rgba(161, 127, 239, 1), rgba(209, 136, 227, 1));
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="3"]
  .table-body-players-card-body-timer._additional
  > div,
body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="3"] .table-body-players-card-body-timer._alert > div {
  color: #a281b6;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="3"] .table-body-players-card-body-timer._additional > div,
body[mnpl-newcolors] .table-body-players-card[mnpl-order="3"] .table-body-players-card-body-timer._alert > div {
  color: rgba(185, 131, 233, 1);
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="3"][mnpl-action_player] .table-body-players-card-body {
  background: #a281b6;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="3"][mnpl-action_player] .table-body-players-card-body {
  background: linear-gradient(45deg, rgba(161, 127, 239, 1), rgba(209, 136, 227, 1));
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="3"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #403b4b;
}

body[mnpl-newcolors]
  .table-body-players-card[mnpl-order="3"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #463c58;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="4"] .table-body-players-card-body-avatar > div {
  border-color: #c79b1f;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="4"] .table-body-players-card-body-avatar > div {
  background: linear-gradient(45deg, #d98942, #d9b444);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="4"]
  .table-body-players-card-body-timer._additional
  > div,
body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="4"] .table-body-players-card-body-timer._alert > div {
  color: #c79b1f;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="4"] .table-body-players-card-body-timer._additional > div,
body[mnpl-newcolors] .table-body-players-card[mnpl-order="4"] .table-body-players-card-body-timer._alert > div {
  color: #d99e43;
}

body:not([mnpl-newcolors]) .table-body-players-card[mnpl-order="4"][mnpl-action_player] .table-body-players-card-body {
  background: #c79b1f;
}

body[mnpl-newcolors] .table-body-players-card[mnpl-order="4"][mnpl-action_player] .table-body-players-card-body {
  background: linear-gradient(45deg, #d98942, #d9b444);
}

body:not([mnpl-newcolors])
  .table-body-players-card[mnpl-order="4"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #494225;
}

body[mnpl-newcolors]
  .table-body-players-card[mnpl-order="4"][mnpl-pressed][mnpl-action_player]
  .table-body-players-card-menu {
  background: #4e432e;
}
@supports (-webkit-text-stroke: 1px #000) {
  .table-body-board-fields-one-level > span:before {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.667);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.333);
  }
}
.table-body-board-fields-one[mnpl-group="0"] .table-body-board-fields-one-label {
  background: #da4553;
}

.table-body-board-fields-one[mnpl-group="1"] .table-body-board-fields-one-label {
  background: #ec87c1;
}

.table-body-board-fields-one[mnpl-group="2"] .table-body-board-fields-one-label {
  background: #e0b439;
}

.table-body-board-fields-one[mnpl-group="3"] .table-body-board-fields-one-label {
  background: #37bc9d;
}

.table-body-board-fields-one[mnpl-group="4"] .table-body-board-fields-one-label {
  background: #4b89dc;
}

.table-body-board-fields-one[mnpl-group="5"] .table-body-board-fields-one-label {
  background: #8cc152;
}

.table-body-board-fields-one[mnpl-group="6"] .table-body-board-fields-one-label {
  background: #4fc1e9;
}

.table-body-board-fields-one[mnpl-group="7"] .table-body-board-fields-one-label {
  background: #967bdc;
}

.table-body-board-fields-one[mnpl-group="8"] .table-body-board-fields-one-label {
  background: #656d78;
}

.table-body-board-fields-one[mnpl-group="9"] .table-body-board-fields-one-label {
  background: #7f1f0f;
}

body:not([mnpl-newcolors]) .table-body-board-fields-one[mnpl-owner="0"] .table-body-board-fields-one-body {
  background: #d98381;
}

body[mnpl-newcolors] .table-body-board-fields-one[mnpl-owner="0"] .table-body-board-fields-one-body {
  background: linear-gradient(45deg, #d96975, #f59088);
}

body:not([mnpl-newcolors]) .table-body-board-fields-one[mnpl-owner="1"] .table-body-board-fields-one-body {
  background: #82c4ea;
}

body[mnpl-newcolors] .table-body-board-fields-one[mnpl-owner="1"] .table-body-board-fields-one-body {
  background: linear-gradient(45deg, #7ed6f3, #58ace8);
}

body:not([mnpl-newcolors]) .table-body-board-fields-one[mnpl-owner="2"] .table-body-board-fields-one-body {
  background: #add884;
}

body[mnpl-newcolors] .table-body-board-fields-one[mnpl-owner="2"] .table-body-board-fields-one-body {
  background: linear-gradient(45deg, #8cc672, #c3ea95);
}

body:not([mnpl-newcolors]) .table-body-board-fields-one[mnpl-owner="3"] .table-body-board-fields-one-body {
  background: #c1abce;
}

body[mnpl-newcolors] .table-body-board-fields-one[mnpl-owner="3"] .table-body-board-fields-one-body {
  background: linear-gradient(45deg, rgba(184, 159, 243, 1), rgba(220, 165, 234, 1));
}

body:not([mnpl-newcolors]) .table-body-board-fields-one[mnpl-owner="4"] .table-body-board-fields-one-body {
  background: #dabc6a;
}

body[mnpl-newcolors] .table-body-board-fields-one[mnpl-owner="4"] .table-body-board-fields-one-body {
  background: linear-gradient(45deg, #e2a671, #e2c672);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(1) {
  background: $red;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(1) {
  background: linear-gradient(45deg, #cd3747, #f26b61);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(1) {
  background: #c64542;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(1) {
  background: linear-gradient(45deg, #cd3747, #f26b61);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(2) {
  background: #44a7df;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(2) {
  background: linear-gradient(45deg, #54c9f0, #2191e1);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(3) {
  background: #84c546;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(3) {
  background: linear-gradient(45deg, #66b343, #b0e372);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(4) {
  background: #a281b6;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(4) {
  background: linear-gradient(45deg, rgba(161, 127, 239, 1), rgba(209, 136, 227, 1));
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(5) {
  background: #c79b1f;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(5) {
  background: linear-gradient(45deg, #d98942, #d9b444);
}
body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(2) {
  background: #44a7df;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(2) {
  background: linear-gradient(45deg, #54c9f0, #2191e1);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(3) {
  background: #84c546;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(3) {
  background: linear-gradient(45deg, #66b343, #b0e372);
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(4) {
  background: #a281b6;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(4) {
  background: linear-gradient(45deg, rgba(161, 127, 239, 1), rgba(209, 136, 227, 1));
}

body:not([mnpl-newcolors]) .table-body-board-tokens > div:nth-child(5) {
  background: #c79b1f;
}

body[mnpl-newcolors] .table-body-board-tokens > div:nth-child(5) {
  background: linear-gradient(45deg, #d98942, #d9b444);
}
body[mnpl-newcolors] ._color_player_0_color {
  color: #df5154;
}

body[mnpl-newcolors] ._color_player_0_bg {
  background-image: linear-gradient(45deg, #cd3747, #f26b61);
}

body[mnpl-newcolors] ._color_player_0_bg_plain {
  background-color: #df5154;
}

body[mnpl-newcolors] ._color_player_1_color {
  color: #3aade8;
}

body[mnpl-newcolors] ._color_player_1_bg {
  background-image: linear-gradient(45deg, #54c9f0, #2191e1);
}

body[mnpl-newcolors] ._color_player_1_bg_plain {
  background-color: #3aade8;
}

body[mnpl-newcolors] ._color_player_2_color {
  color: #8bcb5a;
}

body[mnpl-newcolors] ._color_player_2_bg {
  background-image: linear-gradient(45deg, #66b343, #b0e372);
}

body[mnpl-newcolors] ._color_player_2_bg_plain {
  background-color: #8bcb5a;
}

body[mnpl-newcolors] ._color_player_3_color {
  color: rgba(185, 131, 233, 1);
}

body[mnpl-newcolors] ._color_player_3_bg {
  background-image: linear-gradient(45deg, rgba(161, 127, 239, 1), rgba(209, 136, 227, 1));
}

body[mnpl-newcolors] ._color_player_3_bg_plain {
  background-color: rgba(185, 131, 233, 1);
}

body[mnpl-newcolors] ._color_player_4_color {
  color: #d99e43;
}

body[mnpl-newcolors] ._color_player_4_bg {
  background-image: linear-gradient(45deg, #d98942, #d9b444);
}

body[mnpl-newcolors] ._color_player_4_bg_plain {
  background-color: #d99e43;
}

body:not([mnpl-newcolors]) ._color_player_0_color {
  color: $red;
}

body:not([mnpl-newcolors]) ._color_player_0_bg,
body:not([mnpl-newcolors]) ._color_player_0_bg_plain {
  background-color: $red;
}

body:not([mnpl-newcolors]) ._color_player_1_color {
  color: #44a7df;
}

body:not([mnpl-newcolors]) ._color_player_1_bg,
body:not([mnpl-newcolors]) ._color_player_1_bg_plain {
  background-color: #44a7df;
}

body:not([mnpl-newcolors]) ._color_player_2_color {
  color: #84c546;
}

body:not([mnpl-newcolors]) ._color_player_2_bg,
body:not([mnpl-newcolors]) ._color_player_2_bg_plain {
  background-color: #84c546;
}

body:not([mnpl-newcolors]) ._color_player_3_color {
  color: #a281b6;
}

body:not([mnpl-newcolors]) ._color_player_3_bg,
body:not([mnpl-newcolors]) ._color_player_3_bg_plain {
  background-color: #a281b6;
}

body:not([mnpl-newcolors]) ._color_player_4_color {
  color: #c79b1f;
}

body:not([mnpl-newcolors]) ._color_player_4_bg,
body:not([mnpl-newcolors]) ._color_player_4_bg_plain {
  background-color: #c79b1f;
}

._color_player_-1_color {
  color: #646464;
}

._color_player_-1_bg,
._color_player_-1_bg_plain {
  background-color: #646464;
}
