@charset "UTF-8";
@font-face {
  font-family: Ionicons4;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.eot?v=4.5.5);
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.eot?v=4.5.5#iefix)
      format("embedded-opentype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.woff2?v=4.5.5) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.woff?v=4.5.5) format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.ttf?v=4.5.5) format("truetype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/fonts/ionicons.svg?v=4.5.5#Ionicons) format("svg");
  font-weight: 400;
  font-style: normal;
}

[data-ph],
[v-cloak]:not([v-cloak="processing"]) {
  display: none !important;
}

.kd-tooltip {
  z-index: 999999999;
}

body {
  padding-top: 75px;
  -webkit-text-size-adjust: none;
}

body._pinned {
  overflow: hidden !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  height: 75px;
  border-radius: 0;
  overflow: visible !important;
  z-index: 99990;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .widther {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 1000px;
  height: 75px;
}

.header .header-logo,
.header .header-menu {
  height: 75px;
}

.header .header-logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
  border: none !important;
}

.header .header-logo > svg {
  width: auto;
  height: 30px;
}

.header .header-logo > div {
  margin-left: 10px;
  font-size: 16px;
}

.header .header-logo > div > span {
  display: inline-block;
  margin-right: 1px;
  width: 17px;
  background: center/contain no-repeat;
  transform: translateY(2px);
}

.header .header-logo > div > span._wreath {
  height: 16px;
  background-image: url(//m1.dogecdn.wtf/ny/wreath.png);
}

.header .header-logo > div > span._ball {
  height: 18px;
  background-image: url(//m1.dogecdn.wtf/ny/ball.png);
}

.header .header-logo > div > span._hehe {
  margin-left: 1px;
  height: 16px;
  background-image: url(//m1.dogecdn.wtf/chat/eHehe.svg);
  transform: translateY(3px);
}

.header .header-findgame {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header .header-menu {
  flex-grow: 999;
  display: flex;
}

.header .header-menu .header-menu-one {
  display: flex;
  align-items: center;
  margin: 17px 0;
  border: none !important;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 15px;
  transition: background-color 0.1s, color 0.1s;
}

.header .header-menu .header-menu-one .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  border-radius: 5px;
  padding: 0 5px;
  min-width: 19px;
  height: 19px;
  background: #da4553;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  transition: background-color 0.1s, color 0.1s;
}

.header .header-menu .header-menu-one .badge._streams {
  background: #967bdc;
}

.header .header-right {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px;
  z-index: 1;
}

.header .header-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.header .header-right > div:before {
  font-family: Ionicons;
  font-size: 30px;
  transition: color 0.1s;
}

body:not([theme]) .header .header-right > div:before {
  color: #c7ccd3;
}

body[theme="dark"] .header .header-right > div:before {
  color: #afb5c3;
}

body:not([theme]) .header .header-right > div:hover:before {
  color: #aab2bd;
}

body[theme="dark"] .header .header-right > div:hover:before {
  color: #ccd0d9;
}

.header .header-right > div:not(:last-child) {
  margin-right: 10px;
}

.header .header-right > div._search:before {
  content: "\f4a4";
}

.header .header-right > div._im:before {
  content: "\f11c";
}

.header .header-right > div._im > div {
  position: absolute;
  top: 3px;
  right: 1px;
  border-radius: 5px;
  padding: 1px 5px 2px;
  background: #da4553;
  color: #fff;
  font-size: 11px;
  font-weight: 800;
}

.header .header-auth {
  display: flex;
  align-items: center;
}

body:not([theme]) .header:not([mnpl-style]) .header-logo > svg > path {
  fill: #7e8692;
}

body[theme="dark"] .header:not([mnpl-style]) .header-logo > svg > path {
  fill: #c8c8ca;
}

body:not([theme]) .header:not([mnpl-style]) .header-logo > div {
  color: #656d78;
}

body[theme="dark"] .header:not([mnpl-style]) .header-logo > div {
  color: #e2e2e3;
}

body:not([theme]) .header:not([mnpl-style]) .header-menu-one {
  color: #656d78;
}

body[theme="dark"] .header:not([mnpl-style]) .header-menu-one {
  color: #e2e2e3;
}

body:not([theme]) .header:not([mnpl-style]) .header-menu-one:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

body[theme="dark"] .header:not([mnpl-style]) .header-menu-one:hover {
  background-color: rgba(255, 255, 255, 0.067);
}

.header:not([mnpl-style]) .header-right > div:before {
  color: #ccd0d9;
}

.header:not([mnpl-style]) .header-right > div:hover:before {
  color: #aab2bd;
}

.header[mnpl-style="transparent-light"] {
  border-bottom: none;
  background-color: transparent !important;
}

.header[mnpl-style="transparent-light"] .header-logo > svg > path {
  fill: #fff;
}

.header[mnpl-style="transparent-light"] .header-logo > div,
.header[mnpl-style="transparent-light"] .header-menu-one {
  color: #fff;
}

.header[mnpl-style="transparent-light"] .header-menu-one:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.header[mnpl-style="transparent-light"] .header-right {
  background-color: transparent !important;
}

.header[mnpl-style="transparent-light"] .header-right > div:before {
  color: rgba(255, 255, 255, 0.75) !important;
}

.header[mnpl-style="transparent-light"] .header-right > div:hover:before {
  color: #fff !important;
}

.header[mnpl-style="transparent-white"] {
  border-bottom: none;
  background-color: transparent !important;
}

.header[mnpl-style="transparent-white"] .header-logo > svg > path {
  fill: #fff;
}

.header[mnpl-style="transparent-white"] .header-logo > div {
  color: #fff;
  font-weight: 400;
}

.header[mnpl-style="transparent-white"] .header-findgame > a {
  background: rgba(255, 255, 255, 0.85);
  color: #434a54;
}

.header[mnpl-style="transparent-white"] .header-findgame > a:hover {
  background: #fff;
}

.header[mnpl-style="transparent-white"] .header-menu-one {
  color: #fff;
  font-weight: 600;
}

.header[mnpl-style="transparent-white"] .header-menu-one:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.header[mnpl-style="transparent-white"] .header-menu-one .badge {
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: #000;
}

.header[mnpl-style="transparent-white"] .header-right {
  background-color: transparent !important;
}

.header[mnpl-style="transparent-white"] .header-right > div:before {
  color: rgba(255, 255, 255, 0.75) !important;
}

.header[mnpl-style="transparent-white"] .header-right > div:hover:before {
  color: #fff !important;
}

.notifications {
  position: fixed;
  top: 75px;
  right: 0;
  z-index: 99999;
  width: 420px;
  padding: 0 20px;
}

.notifications .notifications-one {
  position: relative;
  margin: 20px 0 !important;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: default;
  overflow: hidden;
}

.notifications .notifications-one:after {
  content: "";
  display: block;
  clear: both;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .notifications .notifications-one {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: brightness(1.5) blur(4px);
    backdrop-filter: brightness(1.5) blur(4px);
  }
}

.notifications .notifications-one .notifications-one-image {
  float: left;
  margin: 15px 0 15px 15px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
}

.notifications .notifications-one .notifications-one-info {
  float: left;
  margin: 15px;
  width: 225px;
}

.notifications .notifications-one .notifications-one-info .notifications-one-info-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.notifications .notifications-one .notifications-one-info .notifications-one-info-text {
  margin-top: 7px;
  font-size: 13px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}

.notifications .notifications-one .notifications-one-close {
  float: left;
  margin: 0 !important;
  width: 50px;
  height: 90px;
  font-family: Ionicons;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 90px;
  cursor: pointer;
}

.notifications .notifications-one .notifications-one-close:after {
  content: "\f404";
}

.notifications .notifications-one .notifications-one-close:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.footer {
  position: relative;
  margin-top: 25px;
}

body:not([theme]) .footer {
  background-color: #e6e9ed;
}

body[theme="dark"] .footer {
  background-color: #25262b;
}

.footer .paragraph {
  margin: 8px 20px;
  font-size: 12px;
  line-height: 18px;
}

.footer .footer-left .footer-left-logo {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 75px;
  background-image: url(//m1.dogecdn.wtf/logo/logo_500_gray.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.footer .footer-left .paragraph {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
}

.footer .footer-icons {
  margin-top: 18px;
  margin-bottom: 12px;
}

.footer .footer-icons > a {
  border: none !important;
}

.footer .footer-icons .footer-icons-one {
  margin-right: 10px;
  height: 25px;
  opacity: 0.66;
}

.footer .footer-icons .footer-icons-one:hover {
  opacity: 1;
}

.error {
  margin-bottom: 100px;
  text-align: center;
}

.error .error-code {
  font-size: 300px;
  color: #ccd0d9;
}

.error .error-desc {
  font-size: 20px;
  line-height: 32px;
  color: #656d78;
}

.httpcode {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 1000px;
}

.httpcode-emote {
  max-height: 85px;
  overflow: hidden;
}

.httpcode-emote img {
  height: 85px;
  pointer-events: none;
}

.httpcode-data {
  margin-left: 25px;
}

.httpcode-data-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 0.8em;
}

.httpcode-data-desc {
  margin-top: 7px;
  opacity: 0.5;
}

.httpcode-data-text {
  margin-top: 10px;
}

.httpcode-data-button {
  margin-top: 15px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  max-height: 1000px;
  background-image: url(//m1.dogecdn.wtf/mockup/macbook_4_1920_shadow_50_90perc.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bigboard {
  position: relative;
  min-height: 525px;
  max-height: 925px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bigboard .bigboard-text {
  margin: auto;
  width: 1000px;
  text-align: center;
}

.bigboard .bigboard-text .bigboard-text-title {
  font-size: 75px;
  font-weight: 300;
  text-shadow: #000 0 0 10px;
}

.bigboard .bigboard-text .bigboard-text-description {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  color: #ccd0d9;
  text-shadow: #000 0 0 5px;
}

.bigboard .bigboard-text .bigboard-text-button {
  margin-top: 50px;
  text-align: center;
}

.bigboard .bigboard-text .bigboard-text-button button {
  padding: 15px 30px;
  height: auto;
  max-height: none;
  font-size: 26px;
  font-weight: 400;
}

.bigboard .bigboard-text .bigboard-text-freevip {
  display: none;
  margin-top: 5px;
  font-size: 18px;
  text-shadow: #000 0 0 5px;
}

.bigboard .bigboard-text .bigboard-text-freevip:before {
  content: "\f4b3";
  position: relative;
  top: 5px;
  padding-right: 10px;
  color: #f6bb43;
  font-size: 38px;
  font-family: Ionicons;
}

.bigboard .bigboard-more {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.bigboard .bigboard-more .bigboard-more-button {
  margin: auto;
  width: 100px;
  text-align: center;
  opacity: 0.66;
  transition: opacity 0.25s;
  cursor: pointer;
}

.bigboard .bigboard-more .bigboard-more-button:hover {
  opacity: 1;
}

.bigboard .bigboard-more .bigboard-more-button .bigboard-more-button-text {
  font-size: 16px;
}

.bigboard .bigboard-more .bigboard-more-button .bigboard-more-button-arrow {
  margin: auto;
  font-family: Ionicons;
  font-size: 25px;
  text-align: center;
}

.main-section {
  margin-top: 35px !important;
}

.main-section .title.title-1 {
  padding: 15px 0;
}

.main-section.main-section-love .block p {
  height: 88px;
}

.index-letsplay {
  margin-top: 60px !important;
  margin-bottom: 60px;
}

.index-letsplay .index-letsplay-button {
  margin-top: 50px;
  text-align: center;
}

.index-letsplay .index-letsplay-button button {
  padding: 15px 30px;
  height: auto;
  max-height: none;
  font-size: 26px;
  font-weight: 400;
}

.waitbanner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url(/images/logo/logo_500.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: 0.75s infinite heartbeat;
  animation: 0.75s infinite heartbeat;
}

.title > .title-avatar {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.title > .title-avatar:before {
  content: "\a0";
}

.title > .title-nick {
  display: inline-block;
}

.emoticon {
  margin-top: -5px;
  margin-bottom: -5px;
  height: 28px;
  vertical-align: middle;
}

.emoticon:not(._loaded) {
  min-width: 28px;
}

.thing {
  position: relative;
  width: 150px;
  height: 150px;
}

.thing .thing-image {
  width: 150px;
  height: 110px;
  padding: 14px 19px;
  border: 1px solid;
  border-bottom: none;
}

body:not([theme]) .thing .thing-image {
  border-color: #e6e6e6;
}

body[theme="dark"] .thing .thing-image {
  border-color: #3d3e46;
}

.thing .thing-image > div {
  width: 100%;
  height: 100%;
  background: center/contain no-repeat;
}

body[theme="dark"] .thing .thing-image > div {
  -webkit-filter: drop-shadow(0 0 1.5px rgba(255, 255, 255, 0.75));
  filter: drop-shadow(0 0 1.5px rgba(255, 255, 255, 0.75));
}

.thing .thing-about {
  display: table;
  width: 150px;
  height: 40px;
  padding: 3px 10px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
}

.thing .thing-about[mnpl-one_line="true"] {
  line-height: 34px;
}

.thing .thing-about > div {
  display: table-cell;
  vertical-align: middle;
}

.thing .thing-marks {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 100%;
  height: 25px;
}

.thing .thing-marks:after {
  content: "";
  display: block;
  clear: both;
}

.thing .thing-marks > div {
  float: right;
  width: 25px;
  height: 25px;
  font-family: Ionicons;
  line-height: 25px;
  text-align: center;
}

.thing .thing-marks > div:not(:first-child) {
  margin-right: 5px;
}

.thing .thing-marks .thing-marks-used {
  font-size: 25px;
  color: #8cc152;
}

.thing .thing-marks .thing-marks-used:before {
  content: "\f3ff";
}

.thing .thing-marks .thing-marks-autograph,
.thing .thing-marks .thing-marks-souvenir {
  width: 20px;
  font-size: 20px;
  color: #e9573e;
}

.thing .thing-marks .thing-marks-souvenir:before {
  content: "\f356";
}

.thing .thing-marks .thing-marks-autograph:before {
  content: "\f2bf";
}

.thing .thing-autograph,
.thing .thing-souvenir {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 99999px;
  width: 20px;
  height: 20px;
  color: #e9573e;
  font-size: 20px;
  font-family: Ionicons;
  line-height: 20px;
  text-align: center;
}

.thing .thing-souvenir:before {
  content: "\f356";
}

.thing .thing-autograph:before {
  content: "\f2bf";
}

.thing.thing__quality_0 .thing-about,
.thing[mnpl-quality="0"] .thing-about {
  background-color: #aab2bd;
}

.thing.thing__quality_1 .thing-about,
.thing[mnpl-quality="1"] .thing-about {
  background-color: #3bafda;
}

.thing.thing__quality_2 .thing-about,
.thing[mnpl-quality="2"] .thing-about {
  background-color: #4b89dc;
}

.thing.thing__quality_3 .thing-about,
.thing[mnpl-quality="3"] .thing-about {
  background-color: #967bdc;
}

.thing.thing__quality_4 .thing-about,
.thing[mnpl-quality="4"] .thing-about {
  background-color: #da4553;
}

.thing.thing__quality_5 .thing-about,
.thing[mnpl-quality="5"] .thing-about {
  background-color: #f5b22b;
}

.thing.thing__quality_6 .thing-about,
.thing[mnpl-quality="6"] .thing-about {
  background-color: #37bc9d;
}

.thing.thing__souvenir .thing-image:not(._hack),
.thing[mnpl-souvenir="1"] .thing-image:not(._hack) {
  border-width: 2px;
  border-color: #fad58c;
}

.thing[mnpl-rare="true"] .thing-image {
  border: none;
  background-color: #ffce54;
}

.thing[mnpl-rare="true"] .thing-about {
  background-color: #ffce54;
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-image {
  padding: 0;
  color: #fff;
  text-align: center;
  line-height: 110px;
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-image:before {
  content: "\f4b3";
  font-family: Ionicons;
  font-size: 75px;
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div:before,
.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div[mnpl-kind="0"]:before {
  content: "Очень редкий предмет!";
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div[mnpl-kind="1"]:before {
  content: "Редкая насмешка!";
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div[mnpl-kind="2"]:before {
  content: "Редкая ★ насмешка!";
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div[mnpl-kind="1021"]:before {
  content: "Редкая насмешка серии 2!";
}

.thing[mnpl-rare="true"]:not([mnpl-rare-thing="true"]) .thing-about > div[mnpl-kind="1022"]:before {
  content: "Редкая ★ насмешка серии 2!";
}

.thing[mnpl-rare="true"][mnpl-rare-thing="true"] .thing-about > div[mnpl-form="0"]:before {
  content: "Очень редкий ";
}

.thing[mnpl-rare="true"][mnpl-rare-thing="true"] .thing-about > div[mnpl-form="1"]:before {
  content: "Очень редкая ";
}

.thing[mnpl-rare="true"][mnpl-rare-thing="true"] .thing-about > div:not([mnpl-form="-1"]):after {
  content: "!";
}

.PrettyPopup {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.333);
  border-radius: 5px;
  padding: 30px;
}

.PrettyPopup-title {
  font-size: 30px;
  font-weight: 700;
}

.PrettyPopup-desc,
.PrettyPopup-desc > div:not(:first-child),
.PrettyPopup-desc > ol:not(:first-child),
.PrettyPopup-desc > ul:not(:first-child) {
  margin-top: 5px;
}

.nano > .nano-pane {
  background: 0 0 !important;
  width: 8px !important;
}

.nano > .nano-pane:hover {
  width: 10px !important;
  background: rgba(0, 0, 0, 0.15) !important;
}

.nano > .nano-pane:hover > .nano-slider {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.nano > .nano-pane > .nano-slider {
  background-color: rgba(0, 0, 0, 0.333) !important;
}

.payments .block {
  display: none;
  text-align: center;
}

.payments .block[mnpl-section="topup_balance"] [mnpl-content="sum"] {
  font-size: 60px;
  font-weight: 600;
  line-height: 100px;
}

.payments .block[mnpl-section="get_thing"] .thing {
  margin: auto;
}

.itemInline {
  border: none !important;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
}

.itemInline:not(._hack) {
  color: #fff;
}

.itemInline._q0 {
  background: linear-gradient(30deg, #b8bfc8, #9ca5b2);
}

.itemInline._q1 {
  background: linear-gradient(30deg, #50b8de, #28a5d4);
}

.itemInline._q2 {
  background: linear-gradient(30deg, #6097e0, #367bd8);
}

.itemInline._q3 {
  background: linear-gradient(30deg, #a68fe1, #8667d7);
}

.itemInline._q4 {
  background: linear-gradient(30deg, #de5a67, #d6303f);
}

.itemInline._q5 {
  background: linear-gradient(30deg, #f6bb43, #f4a913);
}

.itemInline._q6 {
  background: linear-gradient(30deg, #44c8aa, #31a88d);
}

.itemInline._rare {
  background: linear-gradient(30deg, #f6bb43, #f4a913);
}

.auth {
  margin-top: 25px;
  width: 740px !important;
}

.auth > .block {
  position: relative;
  padding-bottom: 15px;
}

.auth > .block:after {
  content: "";
  display: block;
  clear: both;
}

.auth .auth-side {
  width: 325px;
}

.auth .auth-side:first-child {
  float: left;
}

.auth .auth-side:last-child {
  float: right;
}

.auth .auth-separator {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left: 1px solid #ccd0d9;
}

.auth .auth-separator:after,
.auth .auth-separator:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-top: 64px;
  margin-left: -20px;
  width: 39px;
  height: 39px;
}

.auth .auth-separator:before {
  content: "";
  border-radius: 3px;
  background-color: #ccd0d9;
  transform: rotate(45deg);
}

.auth .auth-separator:after {
  content: "ИЛИ";
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 39px;
}

.auth .auth-more {
  color: #aab2bd;
  font-size: 13px;
  text-align: center;
}

.tournamentlive {
  padding: 15px 0;
  background-color: #e9573e;
}

.tournamentlive:after {
  content: "";
  display: block;
  clear: both;
}

.tournamentlive .tournamentlive-text {
  float: left;
  width: 750px;
}

.tournamentlive .tournamentlive-text .tournamentlive-text-title {
  color: #fff;
  font-size: 22px;
}

.tournamentlive .tournamentlive-text .tournamentlive-text-subtitle {
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.tournamentlive .tournamentlive-button {
  float: right;
  padding-top: 6px;
  width: 250px;
  text-align: right;
}

.statusHealth-sections-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.statusHealth-sections-table .list-one {
  display: table-row !important;
}

.statusHealth-sections-table .list-one > div {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.statusHealth-sections-table .list-one > div:first-child {
  padding-left: 20px;
}

.statusHealth-sections-table .list-one > div:last-child {
  padding-right: 20px;
}

.statusHealth-sections-table .list-one > div:not(:first-child) {
  text-align: center;
}

.statusHealth-sections-table-head {
  border-top: none !important;
}

.statusHealth-sections-table-head > div {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #656d78;
}

.statusHealth-sections-table-row > div {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}

@-webkit-keyframes heartbeat {
  from {
    background-size: 210px;
  }
  to {
    background-size: 190px;
  }
}

@keyframes heartbeat {
  from {
    background-size: 210px;
  }
  to {
    background-size: 190px;
  }
}
