.table-body-board-fields-one[mnpl-group] .table-body-board-fields-one-body {
  cursor: pointer;
}

.table-body-board-fields-one[mnpl-line="0"] .table-body-board-fields-one-body ._logo,
.table-body-board-fields-one[mnpl-line="2"] .table-body-board-fields-one-body ._logo {
  transform: rotate(-90deg);
}

.table-body-board-fields-one[mnpl-line="1"] .table-body-board-fields-one-mortgaged,
.table-body-board-fields-one[mnpl-line="3"] .table-body-board-fields-one-mortgaged {
  top: 0;
}

.table-body-board-fields-one[mnpl-line="1"] .table-body-board-fields-one-level,
.table-body-board-fields-one[mnpl-line="3"] .table-body-board-fields-one-level {
  flex-direction: column;
}

.table-body-board-fields-one[mnpl-line="0"] .table-body-board-fields-one-level {
  bottom: 2px;
}

.table-body-board-fields-one[mnpl-line="0"] .table-body-board-fields-one-mortgaged {
  bottom: -7px;
}

.table-body-board-fields-one[mnpl-line="1"] .table-body-board-fields-one-label > div {
  transform: rotate(90deg);
}

.table-body-board-fields-one[mnpl-line="1"] .table-body-board-fields-one-level {
  left: 1px;
}

.table-body-board-fields-one[mnpl-line="1"] .table-body-board-fields-one-mortgaged {
  left: 2px;
}

.table-body-board-fields-one[mnpl-line="2"] .table-body-board-fields-one-level {
  top: 0;
}

.table-body-board-fields-one[mnpl-line="2"] .table-body-board-fields-one-mortgaged {
  top: -7px;
}

.table-body-board-fields-one[mnpl-line="3"] .table-body-board-fields-one-label > div {
  transform: rotate(-90deg);
}

.table-body-board-fields-one[mnpl-line="3"] .table-body-board-fields-one-level {
  right: 1px;
}

.table-body-board-fields-one[mnpl-line="3"] .table-body-board-fields-one-mortgaged {
  right: -2px;
}

.table-body-board-fields-one[mnpl-mortgaged="1"] .table-body-board-fields-one-body {
  position: relative;
  overflow: hidden;
}

.table-body-board-fields-one[mnpl-mortgaged="1"] .table-body-board-fields-one-body:after {
  content: " ";
  display: block;
  position: absolute;
  top: -99px;
  left: -99px;
  width: 999px;
  height: 999px;
  background: rgba(0, 0, 0, 0.25);
}

.table-body-board-fields._mode_choose_field .table-body-board-fields-one:not(._mode_choose_field_available) {
  cursor: default !important;
  opacity: 0.25;
}

.table-body-board-fields._mode_choose_field .table-body-board-fields-one._mode_choose_field_available {
  cursor: pointer !important;
}
body[mnpl-touchscreen="1"] .table-body-board-chatbottom > div._input ._hint._hint_tab {
  left: -42px;
}

body[mnpl-touchscreen="1"] .table-body-board-chatbottom > div._input ._hint._hint_tab span:before {
  content: "РљР»РёРєРЅРёС‚Рµ СЃСЋРґР°";
}

body:not([mnpl-touchscreen="1"]) .table-body-board-chatbottom > div._input ._hint._hint_tab span:before {
  content: "РќР°Р¶РјРёС‚Рµ Tab";
}
