@import "../../../../theme/styles/vars.scss";

/** findGames **/
.findGame {
  .newRoomOneParams {
    .regular {
      color: $regularСolor;
    }
    .quick {
      color: $quickСolor;
    }
    .shuffle {
      color: $shuffleСolor;
    }
    .retro {
      color: $retroСolor;
    }
    .roulette {
      color: $rouletteСolor;
    }
  }
  .avatar {
    width: 100px;
    height: 100px;
    div {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    svg {
      width: 50%;
      height: 50%;
      opacity: 0.4;
      cursor: pointer;
    }
    .avatarWrap {
      position: relative;
      &:hover {
        > svg {
          display: block;
        }
      }
    }

    svg {
      display: none;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 1000;
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: #e4e4e4;
    }
  }
}
