@import "../../../../theme/styles/vars.scss";

/** findGames **/
.findGame {
  .newRoomOneParams {
    .regular {
      color: $regularСolor;
    }
    .quick {
      color: $quickСolor;
    }
    .shuffle {
      color: $shuffleСolor;
    }
    .retro {
      color: $retroСolor;
    }
    .roulette {
      color: $rouletteСolor;
    }
  }
}
