@import "../../../../theme/styles/vars.scss";

.MuiDialog-root {
  backdrop-filter: blur(10px);
}
.newRoom {
  .menuBlock {
    > div {
      border-radius: 5px;
      cursor: pointer;
    }

    .regular._selected {
      background-color: $regular-game-color;
    }
    .quick._selected {
      background-color: $quick-game-color;
    }
    .shuffle._selected {
      background-color: $shuffle-game-color;
    }
    .retro._selected {
      background-color: $retro-game-color;
    }
    .roulette._selected {
      background-color: $roulette-game-color;
    }
  }
  ._selected {
    > * {
      color: #fff !important;
    }
  }
  .roomParams {
    min-width: 300px;
    overflow: hidden;
  }

  .roomContent {
    // min-height: 490px;
  }
  .playersNumber {
    button {
      color: white;
      font-weight: 700;
    }
  }
}
