.inventory {
  font-size: 28px;
  a {
    text-decoration: none;
  }
  .avatar {
    height: 50px;
    img {
      height: 100%;
      border-radius: 50%;
    }
  }
  .profileName {
    color: #3bafda;
    font-size: 26px;
    border-bottom: 1px dotted #3bafda;
  }
}
