// @charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;
  background-color: #f1f0f0;
}

a {
  color: grey;
  text-decoration: none;
  border-bottom: 1px dotted grey;
}
